<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= company.fullName %></title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>

  <section class="dashboard-main-section">
    <div class="container">
      <div class="dashboard-main-setting profile-info mx-auto">
        <div class="profile-history">
          <div class="profile-person-history">
            <img src="<%= company.profilePic ? company.profilePic : '/assets/img/business-icon.jpg' %>" alt="">
            <div class="px-3">
              <h6><%= company.fullName ? company.fullName : 'Company Name Here' %></h6>
              <span><%= company.subHeading ? company.subHeading : 'Enter Sub Heading' %></span>
            </div>
          </div>
          <div class="d-flex align-items-center flex-wrap justify-content-center">
            <% 
                  let connectionSent = false
                  let connectionId;
                  let connectionApproved;
                  user.connection?.forEach((connection)=>{
                    if(connection.business.toString() == company._id.toString()){
                      connectionSent = true
                      connectionId = connection._id
                      connectionApproved = connection.approved
                    }
                  })
                  if(connectionSent){ %>
            <form class="dangerous-form" data-warning="Do you want to Delete the Connection?" action="/api/connection/delete" method="POST">
              <input type="hidden" name="id" value="<%= connectionId._id %>">
              <input type="hidden" name="business" value="<%= company._id %>">
              <input type="hidden" name="user" value="<%= user.id %>">
              <button class="dash-btn bg-danger" type="submit"> <%= connectionApproved ? 'Remove Connection' : 'Delete Connection Request' %></button>
            </form>
            <% } else { %>
            <a href="/connection-request?company=<%= company._id %>" class="dash-btn">Connect</a>
            <% } %>
            <a class="chat-btn" href="/chat"><i class="bi bi-chat"></i></a>
            <div class="dropdown-wrapper">
              <% const unreadNotificationCount = user?.notifications.filter(notification => !notification.isRead).length; %>
              <button type="button" class="dropdown-toggler logout-btn">
                <i class="bi bi-bell"></i>
                <% if(unreadNotificationCount > 0) { %>
                <span class="count"><%= unreadNotificationCount %></span>
                <% } %>
              </button>

              <div class="dropdown">
                <% if(user?.notifications?.length > 0) { %>
                <ul>
                  <% user?.notifications.forEach((notification)=>{ %>
                  <li>
                    <a href="<%= notification.url %>">
                      <span class="icon"><i class="bi bi-check-circle"></i></span>
                      <span class="text"><%= notification.message %></span>
                    </a>
                  </li>
                  <% }) %>
                </ul>
                <% } else { %>
                <p>No Notifications Found!</p>
                <% } %>

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between my-4">
          <div class="col-lg-4 col-12">
            <div class="history-btn-design">
              <a href="/dashboard" class="dash-btn">
                Dashboard</a>
              <!-- <button type="button" class="dash-btn">
                Show History</button> -->
            </div>
          </div>
        </div>
        <h5 class="fw-bold text-center fw-head">Business / Portfolio</h5>
        <div class="profile-banner">
          <div class="banner-cover">
            <img class="img-fluid" src="<%= company.coverPhoto ? company.coverPhoto : '/assets/img/cover.png' %>" alt="">
          </div>
          <div class="banner-info">
            <div class="profile-person-history large-img">
              <img src="<%= company.profilePic ? company.profilePic : '/assets/img/business-icon.jpg' %>" alt="">
              <div class="px-3 pb-2">
                <h5><%= company.fullName ? company.fullName : 'Company Name Here' %><span> (<%= company.industry ? company.industry : 'Industry Here' %>)</span></h5>
                <span><%= company['subHeading'] ? company['subHeading'] : 'Enter Sub Heading' %></span>
              </div>
            </div>
            <span class="profile-badge"><%= company.businessYears ? company.businessYears : '0'  %>+ Years in Business</span>
          </div>
        </div>
        <ul class="other-info">
          <!-- <li>@edwardjj53</li> -->
          <% if (company.industry) { %>
          <li>Industry: <%= company.industry %></li>
          <% } %>

          <% if (company.companySize) { %>
          <li>Company Size: <%= company.companySize %></li>
          <% } %>

          <% if (company.foundedDate) { %>
          <li>Founded on: <%= new Date(company.foundedDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></li>
          <% } %>

          <!-- If no information is provided, show a default message -->
          <% if (!company.industry && !company.companySize && !company.foundedDate) { %>
          <li>No company information provided</li>
          <% } %>

        </ul>
        <div class="additional-info">
          <div class="row g-0">
            <div class="col-lg-8 col-12 panel">
              <div class="info-item-l h-100">
                <h6 class="fw-bold">About</h6>
                <% if(company.about){ %>
                <p><%= company.about %></p>
                <% } else { %>
                <p class="text-muted">No About...</p>
                <% } %>
                <% if(company.profileVideo){ %>
                <div class="profile-video">
                  <!-- <a href="javascript:;">
                    <i class="bi bi-play-fill"></i>
                  </a> -->
                  <!-- <img src="/assets/img/video-poster.png"> -->
                  <video controls>
                    <source src="<%= company.profileVideo %>">
                  </video>
                </div>
                <% } %>
              </div>
            </div>
            <div class="col-lg-4 col-12 panel">
              <div class="info-item-r h-100">
                <h6 class="fw-bold">Contact Info</h6>
                <ul class="contact-links">
                  <% if(company.primaryEmail?.email){ %>
                  <li>
                    <span>Email Address</span>
                    <a href="mailto:<%= company.primaryEmail?.email %>"><%= company.primaryEmail?.email %></a>
                  </li>
                  <% } %>
                  <% if(company.phone){ %>
                  <li>
                    <span>Phone #</span>
                    <a href="tel:<%= company.phone %>"><%= company.phone %></a>
                  </li>
                  <% } %>
                  <% if(company.portfolio){ %>
                  <li>
                    <span>Portfolio</span>
                    <a href="<%= company.portfolio %>" target="_blank"><%= company.portfolio %></a>
                  </li>
                  <% } %>
                </ul>
                <div class="position-details">
                  <!-- <span>UI/UX</span>
                  <span>Branding</span>
                  <span>Logo</span> -->
                  <!-- <span>skills</span> -->
                </div>
                <img class="img-fluid mt-3" src="/assets/img/social.png" alt="">
                <div class="follow-more">
                  <% if(company.socialLinks?.length > 0) { %>
                  <h6>Follow To Know More About Me!
                  </h6>
                  <ul>
                    <% company.socialLinks?.forEach((item) => { %>
                    <li>
                      <a href="<%= item.baseUrl %><%= item.username %>" target="_blank">
                        <img src="/assets/img/social-icons/<%= item.platform %>.png" alt="">
                      </a>
                    </li>
                    <% }) %>
                  </ul>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-showcase">
          <ul class="user-academic">
            <li>
              <div class="item-head">
                <h6 class="fw-bold">Why work with us?</h6>

              </div>
              <P><%= company.workWithUs %></P>
            </li>


            <li class="photos-wrap">
              <div class="item-head">
                <h6 class="fw-bold">Photos</h6>
              </div>

              <!-- Check if there are any images in the businessImages array -->
              <% if(company.businessImages?.length > 0) { %>
              <div class="row g-4">
                <% company.businessImages.forEach((item) => { %>
                <div class="col-lg-4 col-12">
                  <!-- Display each uploaded image -->
                  <a href="<%= item %>" class="business-image d-block">
                    <img class="w-100" src="<%= item %>" alt="Business Image">
                  </a>
                </div>
                <% }) %>
              </div>
              <% } else { %>
              <!-- If no images are uploaded, show a message or an empty state -->
              <p>No photos uploaded yet.</p>
              <% } %>
            </li>
            <li>
              <div class="item-head">
                <h6 class="fw-bold mb-3">Positions</h6>
              </div>
              <% if(jobs.length > 0) { %>
              <div class="row">
                <% jobs.forEach((item) => { %>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="job-card">
                    <h5><a href="/jobdetails/<%= item._id %>"><%= item.title %></a></h5>
                    <ul>
                      <li><%= item.jobType %></li>
                      <li><%= item.position %></li>
                      <li><%= item.industry %></li>
                    </ul>
                    <p><%= item.summary %></p>
                    <p><%= item.additionalInfo %></p>
                    <a href="/jobdetails/<%= item._id %>">View More</a>
                  </div>
                </div>
                <% }) %>
              </div>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/query') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptlinks') %>
  <script>
    $(".show-all-btn").click(function() {
      $(this).parent().find('.listing .hidden').removeClass('hidden')
      $(this).remove()
      debugger
    })
  </script>
</body>

</html>