<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest Project</title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>

  <section class="portfolio-section">
    <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3200" data-aos-easing="ease-in-sine">
   
      <!-- NO 9  CARD DETAILS WORKS STARTS HERE -->
      <div class="portfolio_width_setting carddetails-section business-reg-form">
        <div class="text-center">
          <h2 class="fw-bold">Enter Details</h2>
        </div>
        <form class="business-form row">
          <div class="col-md-6 portfolio-form-design">
            <label for="fname" class="form-label">Enter Name On Card</label>
            <input type="name" class="form-control" id="inputEmail4" placeholder="Enter  Name...">
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="date" class="form-label">Enter Date Of Birth</label>
            <input type="date" class="form-control" id="address" placeholder="Enter Password...">
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="Bank" class="form-label">Select Bank</label>
            <select id="Bank" class="form-select">
              <option selected>Select</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-6  portfolio-form-design">
            <label for="CardNumber" class="form-label">Enter Card Number</label>
            <input type="number" class="form-control" id="CardNumber" placeholder="8564 5586 2566 8354">
          </div>
          <div class="col-md-4 portfolio-form-design ">
            <label for="Bank" class="form-label">Select Card</label>
            <select id="Bank" class="form-select">
              <option selected>Select</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4 portfolio-form-design">
            <label for="date" class="form-label">Enter Card Expiry</label>
            <input type="date" class="form-control" id="address" placeholder="Enter Password...">
          </div>
          <div class="col-md-4  portfolio-form-design">
            <label for="CVV" class="form-label">Enter CVV</label>
            <input type="number" class="form-control" id="CVV" placeholder="ENTER CVV">
          </div>

          <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="submit-btn-portfolio btn-business-reg" data-next-class="regcompletebusiness-section">SUBMIT</button>

          </div>
        </form>



      </div>
      <!--  CARD DETAILS WORKS ENDS HERE -->


      <!-- NO 10 REGISTRATION COMPLETED WORKS STARTS HERE -->
      <div class="weekavail_width_setting regcompletebusiness-section business-reg-form display-none">
        <div class="text-center reg-icon">
          <i class="bi bi-patch-check"></i>
          <h1 class="mx-3 mb-5">Registration Completed</h1>
          <h6 class="fw-bold mb-3 ">Check Your Email / Phone For Verification</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>

        <button type="submit" class="next-btn py-3">NEXT</button>


      </div>
      <!--REGISTRATION COMPLETED WORKS ENDS HERE -->
      <!-- NO 8 REGISTRATION COMPLETED WORKS STARTS HERE -->
      <div class="weekavail_width_setting error-sec portfolio-form display-none">
        <div class="text-center reg-icon">
          <i style="color: red" class="bi bi-patch-exclamation"></i>
          <h1 class="mx-3 mb-5">Registration Failed</h1>
          <h6 class="fw-bold mb-3" id="error-message">Check Your Email / Phone For Verification</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>

        <button type="button" class="next-btn go-back py-3">Go Back</button>
      </div>
      <!--REGISTRATION COMPLETED WORKS ENDS HERE -->





    </div>
  </section>

  <%- include('./partials/query') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptlinks') %>

  <script>
    const formsWrapper = document.querySelectorAll(".business-reg-form")
    const forms = document.querySelectorAll(".business-form")
    const formDataObj = {};
    Array.from(forms).forEach((form) => {
      form.addEventListener('submit', async (e) => {
        let success = true
        e.preventDefault()
        const curForm = e.target
        // const btn = curForm.querySelector('.btn-portfolio')
        const btn = curForm.querySelector('[type="submit"]')
        const nextFormClass = btn.getAttribute("data-next-class")
        const formData = new FormData(curForm);
        formData.forEach((value, key) => {
          formDataObj[key] = value;
        });
        debugger
        if (nextFormClass == 'subscription-section') {
          const res = await fetch('/api/auth/business/register', {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(formDataObj),
            credentials: 'include'
          })
          const resJson = await res.json()
          debugger
          if (res.status !== 200) {
            $("#error-message").html(resJson.error)
            success = false
          } else {
            createCookie('authtoken', resJson.authtoken)
            createCookie('e4d4business', 'true')
          }
          console.log('resJson', resJson)
        }
        if (formDataObj.password === formDataObj.confirmPassword) {
          formsWrapper.forEach((form) => {
            form.classList.add("display-none")
          })
          if (success) {
            document.querySelector(`.${nextFormClass}`).classList.remove("display-none")
          } else {
            document.querySelector(`.error-sec`).classList.remove("display-none")
          }
        } else {
          createToast(`Password & Confirm Password Should be same!`, 'text-bg-danger')
        }
      })
    })
    $('.go-back').click(function() {
      formsWrapper.forEach((form) => {
        form.classList.add("display-none")
        document.querySelector(`.business-reg-form`).classList.remove("display-none")
      })
    })
  </script>

</body>

</html>