<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest Project</title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>

  <section class="portfolio-section">
    <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3200" data-aos-easing="ease-in-sine">


      <!-- NO 1 portfolio WORKS STARTS HERE -->
      <div class="portfolio_width_setting portfolio-form">
        <div class="text-center">
          <h1 class="fw-bold">Business Login</h1>
        </div>
        <form method="POST" action="/sites/e4d4/api/auth/business/login" class="row g-4">
          <div class="col-12 portfolio-form-design">
            <label for="email" class="form-label">Email*</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email Address..." required>
          </div>
          <div class="col-12 portfolio-form-design">
            <label for="password" class="form-label">Password*</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password..." required>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="submit-btn-portfolio btn-business-reg" data-next-class="companyoperate-section">Login</button>

          </div>
        </form>
      </div>
    </div>
  </section>

  <%- include('./partials/query') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptlinks') %>

</body>

</html>