<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest Project</title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>

  <section class="portfolio-section">
    <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3200" data-aos-easing="ease-in-sine">
      <!-- NO 1 BUSINESS REGISTRATION WORKS STARTS HERE -->
      <div class="portfolio_width_setting businessregister-section business-reg-form ">


        <div class="text-center">
          <h2 class="fw-bold">Sign Up Using Email ( Business )</h2>
        </div>
        <form class="business-form row">
          <div class="col-md-6 portfolio-form-design">
            <label for="fname" class="form-label">Business Name*</label>
            <input type="text" name="fullName" id="fname" class="form-control" id="inputEmail4" placeholder="Enter Business Name..." required>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="address" class="form-label">Business Address*</label>
            <input type="text" name="address" class="form-control" id="address" placeholder="Enter Password..." required>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="inputEmail4" class="form-label">Email Address*</label>
            <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Enter Email Address..." required>
          </div>
          <div class="col-md-6  portfolio-form-design">
            <label for="ContactNumber" class="form-label">Contact Number*</label>
            <input type="number" name="phone" class="form-control" id="ContactNumber" placeholder="Enter Number..." required>
          </div>
          <div class="col-md-6  portfolio-form-design">
            <label for="password" class="form-label">Password*</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password..." required>
          </div>
          <div class="col-md-6  portfolio-form-design">
            <label for="confirm-password" class="form-label">Confirm Password*</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirm-password" placeholder="Confirm Password..." required>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="Location" class="form-label">Location*</label>
            <input type="text" name="address" class="form-control api-field" id="address" placeholder="Enter Location..." required>            
          </div>
          <div class="col-md-6 portfolio-form-design mb-5">
            <label for="Industry" class="form-label">Industry*</label>
            <select name="industry" id="Industry" class="form-select" required>
              <option selected>Select Industry...</option>
              <option value="Information Technology">Information Technology</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Education">Education</option>
              <option value="Finance">Finance</option>
              <option value="Manufacturing">Manufacturing</option>
              <option value="Retail">Retail</option>
              <option value="Hospitality">Hospitality</option>
              <option value="Construction">Construction</option>
              <option value="Transportation">Transportation</option>
              <option value="Real Estate">Real Estate</option>
              <option value="Energy">Energy</option>
              <option value="Telecommunications">Telecommunications</option>
              <option value="Media and Entertainment">Media and Entertainment</option>
              <option value="Consulting">Consulting</option>
              <option value="Nonprofit">Nonprofit</option>
              <option value="Government">Government</option>
              <option value="Agriculture">Agriculture</option>
              <option value="Automotive">Automotive</option>
              <option value="Aerospace">Aerospace</option>
              <option value="Biotechnology">Biotechnology</option>
              <option value="Chemical">Chemical</option>
              <option value="Consumer Goods">Consumer Goods</option>
              <option value="E-commerce">E-commerce</option>
              <option value="Environmental Services">Environmental Services</option>
              <option value="Insurance">Insurance</option>
              <option value="Legal">Legal</option>
              <option value="Logistics">Logistics</option>
              <option value="Pharmaceutical">Pharmaceutical</option>
              <option value="Public Relations">Public Relations</option>
              <option value="Research and Development">Research and Development</option>
              <option value="Sports and Recreation">Sports and Recreation</option>
              <option value="Travel and Tourism">Travel and Tourism</option>
              <option value="Human Resources">Human Resources</option>
              <option value="Food and Beverage">Food and Beverage</option>
              <option value="Marketing and Advertising">Marketing and Advertising</option>
              <option value="Mining and Metals">Mining and Metals</option>
              <option value="Security">Security</option>
              <option value="Waste Management">Waste Management</option>
              <option value="Textiles">Textiles</option>
              <option value="Arts and Culture">Arts and Culture</option>
              <option value="Event Management">Event Management</option>
              <option value="Fashion">Fashion</option>
              <option value="Engineering Services">Engineering Services</option>
              <option value="Television and Broadcasting">Television and Broadcasting</option>
              <option value="Publishing">Publishing</option>
              <option value="Virtual Reality and Augmented Reality">Virtual Reality and Augmented Reality</option>
              <option value="Gaming">Gaming</option>
              <option value="Renewable Energy">Renewable Energy</option>
              <option value="Utilities">Utilities</option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="submit-btn-portfolio btn-business-reg" data-next-class="companyoperate-section">CREATE ACCOUNT</button>

          </div>
        </form>



      </div>
      <!-- BUSINESS REGISTRATION WORKS ENDS HERE -->




      <!--  NO 2 Company Operating Industry WORKS STARTS HERE -->
      <div class="weekavail_width_setting companyoperate-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">Select Your Company Operating Industry</h2>
        </div>
        <form class="business-form row form-design">

          <div class="weekavail-width-inner mt-5">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Services" required autocomplete="off">
              <label class="weekavail-form-design" for="Services">Information Technology and Services</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Advertising" required autocomplete="off">
              <label class="weekavail-form-design" for="Advertising">Marketing and Advertising</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Healthcare" required autocomplete="off">
              <label class="weekavail-form-design" for="Healthcare">Healthcare</label>
            </div>
          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Education" required autocomplete="off">
              <label class="weekavail-form-design" for="Education">Education</label>

            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Automotive" required autocomplete="off">
              <label class="weekavail-form-design" for="Automotive">Automotive</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Entertainment" required autocomplete="off">
              <label class="weekavail-form-design" for="Entertainment">Entertainment</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input name="operatingIndustry" type="radio" class="btn-check" id="Consulting" required autocomplete="off">
              <label class="weekavail-form-design" for="Consulting">Consulting</label>

            </div>

          </div>


          <button type="submit" class="next-btn py-3 btn-business-reg" data-next-class="companysize-section">Continue</button>

        </form>
      </div>
      <!-- Company Operating Industry WORKS ENDS HERE -->



      <!--  NO 3 Size Of Your Company WORKS STARTS HERE -->
      <div class="weekavail_width_setting companysize-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">Select The Size Of Your Company</h2>
        </div>
        <form class="business-form row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">

              <select name="sizeOfCompany" id="Classification" class="form-select" required>
                <option value="1-10" selected>1-10 employees - Microenterprise </option>
                <option value="11-50" selected>11-50 employees - Microenterprise </option>
                <option value="51-100" selected>51-100 employees - Microenterprise </option>
              </select>
            </div>
          </div>
          <button type="submit" class="next-btn py-3 w-15 btn-business-reg" data-next-class="companyfound-section">NEXT</button>
        </form>
      </div>
      <!-- NO 3 Size Of Your Company WORKS ENDS HERE -->


      <!--  NO 4 Company Founded WORKS STARTS HERE -->
      <div class="weekavail_width_setting companyfound-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">When Was Your Company Founded</h2>
        </div>
        <form class="business-form row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">
              <% 
                const date = new Date(Date.now());
                const year = date.getFullYear();
                const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based, so add 1
                const day = date.getDate().toString().padStart(2, '0');
                const today = `${year}-${month}-${day}`; 
              %>
              <input name="foundedDate" type="date" class="form-control" id="date" placeholder="Select Date" max="<%= today %>" required>
            </div>
          </div>
          <button type="submit" class="next-btn py-3 w-15 btn-business-reg" data-next-class="companyhead-section">NEXT</button>
        </form>
      </div>
      <!-- NO 4 Company Founded WORKS ENDS HERE -->


      <!--  NO 5 Company Headquartered WORKS STARTS HERE -->
      <div class="weekavail_width_setting companyhead-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">Where Is Your Company Headquartered?</h2>
        </div>
        <form class="business-form row form-design">
          <div class="weekavail-width-inner mt-5">
            <!-- <div class="col-12 portfolio-form-design">
              <input name="headQuarterLocation" type="text" class="form-control" id="location" placeholder="Select Location" required>
              <i class="bi bi-geo-alt-fill"></i>
            </div> -->
            <div class="col-12 portfolio-form-design">
              <select name="headQuarterLocation" id="headQuarter" class="form-select" required>
                <option selected>Select Location</option>
                <option value="Sydney, New South Wales">Sydney, New South Wales</option>
                <option value="Melbourne, Victoria">Melbourne, Victoria</option>
                <option value="Brisbane, Queensland">Brisbane, Queensland</option>
                <option value="Perth, Western Australia">Perth, Western Australia</option>
                <option value="Adelaide, South Australia">Adelaide, South Australia</option>
                <option value="Canberra, Australian Capital Territory">Canberra, Australian Capital Territory</option>
                <option value="Hobart, Tasmania">Hobart, Tasmania</option>
                <option value="Darwin, Northern Territory">Darwin, Northern Territory</option>
                <option value="Gold Coast, Queensland">Gold Coast, Queensland</option>
                <option value="Newcastle, New South Wales">Newcastle, New South Wales</option>
                <option value="Wollongong, New South Wales">Wollongong, New South Wales</option>
                <option value="Geelong, Victoria">Geelong, Victoria</option>
                <option value="Sunshine Coast, Queensland">Sunshine Coast, Queensland</option>
                <option value="Cairns, Queensland">Cairns, Queensland</option>
                <option value="Toowoomba, Queensland">Toowoomba, Queensland</option>
                <option value="Ballarat, Victoria">Ballarat, Victoria</option>
                <option value="Bendigo, Victoria">Bendigo, Victoria</option>
                <option value="Mackay, Queensland">Mackay, Queensland</option>
                <option value="Launceston, Tasmania">Launceston, Tasmania</option>
                <option value="Townsville, Queensland">Townsville, Queensland</option>
                <option value="Rockhampton, Queensland">Rockhampton, Queensland</option>
                <option value="Albury-Wodonga, New South Wales/Victoria">Albury-Wodonga, New South Wales/Victoria</option>
                <option value="Bundaberg, Queensland">Bundaberg, Queensland</option>
                <option value="Burnie, Tasmania">Burnie, Tasmania</option>
                <option value="Alice Springs, Northern Territory">Alice Springs, Northern Territory</option>
                <option value="Armidale, New South Wales">Armidale, New South Wales</option>
                <option value="Tamworth, New South Wales">Tamworth, New South Wales</option>
                <option value="Port Macquarie, New South Wales">Port Macquarie, New South Wales</option>
                <option value="Coffs Harbour, New South Wales">Coffs Harbour, New South Wales</option>
                <option value="Orange, New South Wales">Orange, New South Wales</option>
                <option value="Dubbo, New South Wales">Dubbo, New South Wales</option>
                <option value="Shepparton, Victoria">Shepparton, Victoria</option>
                <option value="Mildura, Victoria">Mildura, Victoria</option>
                <option value="Wagga Wagga, New South Wales">Wagga Wagga, New South Wales</option>
                <option value="Bathurst, New South Wales">Bathurst, New South Wales</option>
                <option value="Broken Hill, New South Wales">Broken Hill, New South Wales</option>
                <option value="Kalgoorlie, Western Australia">Kalgoorlie, Western Australia</option>
                <option value="Broome, Western Australia">Broome, Western Australia</option>
              </select>
            </div>
          </div>
          <!-- 
          /codemark.codes
          \Coding....Codes
  -->
          <button type="submit" class="next-btn py-3 w-15  btn-business-reg" data-next-class="companyweb-section">NEXT</button>
        </form>

      </div>
      <!-- NO 5 Company Headquartered WORKS ENDS HERE -->


      <!--  NO 6 Company Have A Website WORKS STARTS HERE -->
      <div class="weekavail_width_setting companyweb-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">Does Your Company Have A Website?</h2>
        </div>
        <form class="business-form row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">
              <input name="website" type="url" class="form-control" id="websiteurl" placeholder="Enter Your Website URL Here.....">
              <i class="bi bi-globe2"></i>
            </div>
          </div>

          <button type="submit" class="next-btn py-3 w-15 btn-business-reg" data-next-class="companyemail-section">NEXT</button>
        </form>

      </div>
      <!-- NO 6 Company Have A Website WORKS ENDS HERE -->



      <!--  NO 7 Company Email WORKS STARTS HERE -->
      <div class="weekavail_width_setting companyemail-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>
        <div class="text-center">
          <h2 class="fw-bold">What Is Your Company Email?</h2>
        </div>
        <form class="business-form row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">
              <input name="companyEmail" type="email" class="form-control" id="websiteurl" placeholder="Enter Your Company Email Here....." required>
              <i class="bi bi-envelope"></i>
            </div>
          </div>
          <button type="submit" class="create-account next-btn py-3 w-15 btn-business-reg" data-next-class="subscription-section">NEXT</button>
        </form>
      </div>
      <!-- NO 7 Company Email WORKS ENDS HERE -->


      <!--  NO 8 Subscription  WORKS STARTS HERE -->
      <div class="weekavail_width_setting subscription-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">Select <strong>Subscription</strong></h2>
          <p class="note-companyemail mb-5"> <span class="fw-bold">Note:</span> You’ll get FREE SUBSCRIPTION for first 30 Days on any PLAN.!</p>
        </div>

        <div class="row w-80">
          <div class="col-lg-4 col-md-6 ">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">Essential <span> Access</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$199</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>


          <div class="col-lg-4 col-md-6">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">Premium <span> Plus</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$399</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>

          <div class="col-lg-4 col-md-6">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">Deluxe <span> Membership</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$399</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>

          <div class="col-lg-4 col-md-6">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">Ultimate <span> Experience</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$999</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>


          <div class="col-lg-4 col-md-6">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">Elite Access <span> Pass</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$1,999</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>


          <div class="col-lg-4 col-md-6">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">VIP <span> Exclusive</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$1,999</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>

          <div class="col-lg-4 col-12">

          </div>

          <div class="col-lg-4 col-md-6">
            <label class="sub-categories">
              <div class="sub-categories-name ">
                <h5 class=" d-flex align-items-center ">Platinum <span> Privilege</span></h5>
                <div class="bg-color">
                  <h5 class="m-0 fw-bold text-white p-0">$3,999</h5>
                  <span class="company-loc text-white">Per Year</span>
                </div>
              </div>
              <div class="sub-categories-details">
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Business with 1-4 Employees</span>
                </div>
                <div>
                  <i class="bi bi-check-all"></i>
                  <span>Monthly</span>
                </div>
              </div>

            </label>
          </div>

          <div class="col-lg-4 col-12">

          </div>


        </div>

        <button type="submit" class="next-btn py-3 w-15 btn-business-reg" data-next-class="carddetails-section">NEXT</button>


      </div>
      <!-- NO 8 Subscription WORKS ENDS HERE -->


      <!-- NO 9  CARD DETAILS WORKS STARTS HERE -->
      <div class="portfolio_width_setting carddetails-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center">
          <h2 class="fw-bold">Enter Details</h2>
        </div>
        <form class="business-form row">
          <div class="col-md-6 portfolio-form-design">
            <label for="fname" class="form-label">Enter Name On Card</label>
            <input type="name" class="form-control" id="inputEmail4" placeholder="Enter  Name...">
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="date" class="form-label">Enter Date Of Birth</label>
            <input type="date" class="form-control" id="address" placeholder="Enter Password...">
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="Bank" class="form-label">Select Bank</label>
            <select id="Bank" class="form-select">
              <option selected>Select</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-6  portfolio-form-design">
            <label for="CardNumber" class="form-label">Enter Card Number</label>
            <input type="number" class="form-control" id="CardNumber" placeholder="8564 5586 2566 8354">
          </div>
          <div class="col-md-4 portfolio-form-design ">
            <label for="Bank" class="form-label">Select Card</label>
            <select id="Bank" class="form-select">
              <option selected>Select</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4 portfolio-form-design">
            <label for="date" class="form-label">Enter Card Expiry</label>
            <input type="date" class="form-control" id="address" placeholder="Enter Password...">
          </div>
          <div class="col-md-4  portfolio-form-design">
            <label for="CVV" class="form-label">Enter CVV</label>
            <input type="number" class="form-control" id="CVV" placeholder="ENTER CVV">
          </div>

          <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="submit-btn-portfolio btn-business-reg" data-next-class="regcompletebusiness-section">SUBMIT</button>

          </div>
        </form>



      </div>
      <!--  CARD DETAILS WORKS ENDS HERE -->


      <!-- NO 10 REGISTRATION COMPLETED WORKS STARTS HERE -->
      <div class="weekavail_width_setting regcompletebusiness-section business-reg-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>


        <div class="text-center reg-icon">
          <i class="bi bi-patch-check"></i>
          <h1 class="mx-3 mb-5">Registration Completed</h1>
          <h6 class="fw-bold mb-3 ">Check Your Email / Phone For Verification</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>

        <button type="submit" class="next-btn py-3">NEXT</button>


      </div>
      <!--REGISTRATION COMPLETED WORKS ENDS HERE -->
      <!-- NO 8 REGISTRATION COMPLETED WORKS STARTS HERE -->
      <div class="weekavail_width_setting error-sec portfolio-form display-none">
        <button class="g-back"><i class="bi bi-arrow-left-short"></i> Go Back</button>
        <div class="text-center reg-icon">
          <i style="color: red" class="bi bi-patch-exclamation"></i>
          <h1 class="mx-3 mb-5">Registration Failed</h1>
          <h6 class="fw-bold mb-3" id="error-message">Check Your Email / Phone For Verification</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>

        <button type="button" class="next-btn go-back py-3">Go Back</button>
      </div>
      <!--REGISTRATION COMPLETED WORKS ENDS HERE -->





    </div>
  </section>

  <%- include('./partials/query') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptlinks') %>

  <script>
    const formsWrapper = document.querySelectorAll(".business-reg-form")

    const forms = document.querySelectorAll(".business-form")
    const formDataObj = {};
    Array.from(forms).forEach((form) => {
      form.addEventListener('submit', async (e) => {
        let success = true
        e.preventDefault()
        const curForm = e.target
        // const btn = curForm.querySelector('.btn-portfolio')
        const btn = curForm.querySelector('[type="submit"]')
        const nextFormClass = btn.getAttribute("data-next-class")
        const formData = new FormData(curForm);
        formData.forEach((value, key) => {
          formDataObj[key] = value;
        });

        // formsWrapper.forEach((form) => {
        //   form.classList.add("display-none")
        // })
        // if (success) {
        //   document.querySelector(`.${nextFormClass}`).classList.remove("display-none")
        // } else {
        //   document.querySelector(`.error-sec`).classList.remove("display-none")
        // }
        // } else {
        if (formDataObj.password !== formDataObj.confirmPassword) {
          createToast(`Password & Confirm Password Should be same!`, 'text-bg-danger')
          return
        }
        debugger
        // if (nextFormClass == 'subscription-section') {
        const res = await fetch('/sites/e4d4/api/auth/business/register', {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(formDataObj),
          credentials: 'include'
        })
        const resJson = await res.json()
        if (res.status !== 200) {
          // $("#error-message").html(resJson.error)
          success = false
          createToast(resJson.error, 'error')
        } else {
          createCookie('authtoken', resJson.authtoken)
          createCookie('e4d4business', 'true')
          location.reload()
          return
        }
        console.log('resJson', resJson)
        // }        
      })
    })
    $('.go-back').click(function() {
      formsWrapper.forEach((form) => {
        form.classList.add("display-none")
        document.querySelector(`.business-reg-form`).classList.remove("display-none")
      })
    })
  </script>
  <script>
    $(".business-reg-form .g-back").click(function() {
      $(this).parents('.business-reg-form').addClass('display-none')
      $(this).parents('.business-reg-form').prev().removeClass('display-none')
    })
  </script>
  <script>
    // var formChanged = false;
    // // Detect changes in form input
    // $('input').keyup(() => {
    //   formChanged = true;
    // });
    // // Warn user before leaving the page if there are unsaved changes
    // window.addEventListener('beforeunload', (event) => {
    //   if (formChanged) {
    //     event.preventDefault();
    //     // The following line is necessary for some browsers
    //     event.returnValue = '';
    //   }
    // });
  </script>
  <script>
    $(".api-field").keyup(async function(){
      $(this).siblings('.api-locations').remove()
      const value = $(this).val()
      if(value.length >= 2){
        const res = await fetch('/sites/e4d4/api/location/fetch', {
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({place: value})
        })
        const resJson = await res.json()
        const elem = document.createElement('ul')
        $(elem).addClass('api-locations')
        resJson.map((item)=>{
          $(elem).append(`<li><button type="button" onClick="selectValue(this,'${item.city}, ${item.admin_name}')">${item.city}, ${item.admin_name}</li></button>`)
        })
        $(this).parent().append(elem)
        console.log('resJson',resJson)
      }
    })
    const selectValue = (elem,value) => {
      $(elem).parents('ul').siblings('input').val(value)
      $(elem).parents('ul').remove()
    }
  </script>
</body>

</html>