<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>
  <section class="dashboard-main-section">
    <div class="container">
      <div class="dashboard-main-setting profile-info mx-auto">
        <div class="profile-history">
          <div class="profile-person-history">
            <img src="/sites/e4d4<%= 
            user ? (user.profilePic ? user.profilePic : '/assets/img/user-icon.webp') : 
            (business.profilePic ? business.profilePic : '/assets/img/business-icon.jpg')
             %>" alt="">
            <div class="px-3">
              <h6><%= user ? user.fullName : business.fullName %></h6>
              <span>Manager</span>
            </div>
          </div>
          <div class="d-flex align-items-center flex-wrap justify-content-center">
            <button type="button" class="logout-btn ms-2"><i class="bi bi-bell"></i></button>
          </div>
        </div>
        <h5 class="fw-bold text-center fw-head">Chat</h5>
        <div class="additional-info">
          <div class="row g-0">
            <div class="col-lg-4 col-12 panel">
              <div class="info-item-l h-100">
                <div class="history-input-design">
                  <input type="text" class="" placeholder="Location history">
                  <button><i class="bi bi-search"></i></button>
                </div>
                <!-- <%- JSON.stringify(availableList) %> -->
                <ul class="chat-list">
                  <% availableList.forEach(( item) => { %>
                  <li>
                    <a class="profile-person-history" href="javascript:;">
                      <img src="/sites/e4d4<%= item.profilePic ? item.profilePic : '/assets/img/user-icon.webp' %>" alt="">
                      <div class="px-3">
                        <h6><%= item.fullName %></h6>
                        <span>Manager</span>
                      </div>
                    </a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>

            <div class="col-lg-8 col-12 panel">
              <div class="info-item-r h-100">
                <div class="chat-head">
                  <a class="profile-person-history" href="javascript:;">
                    <img src="/sites/e4d4<%= 
                    user ? (user.profilePic ? user.profilePic : '/assets/img/user-icon.webp') : 
                    (business.profilePic ? business.profilePic : '/assets/img/business-icon.jpg')
                     %>" alt="">
                    <div class="px-3">
                      <h6><%= user ? user.fullName : business.fullName %></h6>
                      <span>Manager</span>
                    </div>
                  </a>
                  <hr>
                </div>
                <div class="chat-box">
                  <ul>
                    <li class="user">
                      <img src="/sites/e4d4/assets/uploads/profilePic/profilePic_1724354423962.jpg" alt="">
                      <div class="message">
                        <div class="info">Code Mark <small>11:12 pm</small></div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex inventore libero culpa quae. Ut, sed! Fugiat at consectetur eius eaque.</p>
                      </div>
                    </li>
                    <li class="recipent">
                      <img src="/sites/e4d4/assets/uploads/profilePic/profilePic_1724354423962.jpg" alt="">
                      <div class="message">
                        <div class="info">Code Mark <small>11:12 pm</small></div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex inventore libero culpa quae. Ut, sed! Fugiat at consectetur eius eaque.</p>
                      </div>
                    </li>
                    <li class="recipent">
                      <img src="/sites/e4d4/assets/uploads/profilePic/profilePic_1724354423962.jpg" alt="">
                      <div class="message">
                        <div class="info">Code Mark <small>11:12 pm</small></div>
                        <p>Okayy</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <form action="">
                  <input type="hidden" name="sender" value="<%= user ? user._id : business ? business._id : '' %>">
                  <input type="hidden" name="senderModel" value="<%= user ? 'user' : business ? 'business' : '' %>">
                  <input type="hidden" name="recipient" value="<%= recipent?._id %>">
                  <input type="hidden" name="recipientModel" value="<%= business ? 'user' : user ? 'business' : '' %>">
                  <div class="chat-input-field">
                    <textarea name="message" placeholder="Type Here...." required></textarea>
                    <button type="submit"><i class="bi bi-send-fill"></i></button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

  </section>

  <%- include('./partials/query') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptlinks') %>
  <script>
    // Listen for new messages
    socket.on('newMessage', (message) => {
      console.log('New message received:', message);
    });

    // Send a message
    const sendMessage = (e) => {
      e.preventDefault()
      const curForm = e.target
      const formData = new FormData(curForm);
      const formDataObj = {};
      formData.forEach((value, key) => {
        formDataObj[key] = value;
      });
      socket.emit('sendMessage', formDataObj);
    };
  </script>
</body>

</html>