<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest Project</title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>



    <!-- DASHBOARD MAIN SECTION STARTS HERE -->
    <section class="dashboard-main-section">
        <div class="container d-flex flex-column justify-content-center align-items-center mb-5" data-aos="fade-up"
            data-aos-duration="3200" data-aos-easing="ease-in-sine">
            <div class="dashboard-main-setting">
                <div class="profile-history">
                    <div class="profile-person-history">
                        <img src="<%= user?.profilePic ? user?.profilePic : '/sites/e4d4/assets/img/user-icon.webp' %>" alt="">
                        <div class="px-3">
                            <h6><%= user?.fullName %><span> ( Edit Portfolio )</span></h6>
                            <span>Enter Subheading</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap justify-content-center">

                        <button type="button" class="logout-btn"><i class="bi bi-bell"></i></button>
                        <button type="button" class="dash-btn"> <i class="bi bi-house text-white px-1"></i>
                            + Make New Search</button>
                    </div>
                </div>

                <div class="my-4 history-btn-design">
                    <button type="button" class="dash-btn">
                        Home</button>
                    <button type="button" class="dash-btn">
                        Show History</button>
                </div>

                <form class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Location history">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Industry Search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Position Search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Business Search (Option)">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                </form>

                <h5 class="fw-bold mt-5 mb-4">Shortlisted Companies / Businesses</h5>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                            <button type="button" class="dash-btn my-3">
                                Send Details <i class="fa-solid fa-arrow-up-right-from-square mx-2"></i></button>


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shortlisted-companies">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="company-name">Company Name</h6>
                                    <div class="company-loc">Location : Sydney, Australia</div>
                                    <div class="company-loc">Business Operate : Sydney, Australia</div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="company_request_btn"> + Send Connection
                                        Request</button>
                                </div>
                            </div>
                            <div class="company-position">
                                <span class="company-position-offer">Offered Positions:</span>
                                <div class="position-details">
                                    <span>Manager</span>
                                    <span>Accountants</span>
                                    <span>Developers</span>
                                    <span>Show More</span>
                                </div>

                            </div>
                            <div class="company-link">
                                <i class="fa-solid fa-globe"></i>
                                <span>Website: <a href="https://www.google.com/">https://www.google.com/</a></span>
                            </div>
                        </div>
                    </div>
                </div>




            </div>



        </div>

        <!-- SEND DETAILS SECTION STARTS HERE -->
        <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
            data-aos-duration="3200" data-aos-easing="ease-in-sine">
            <div class="dashboard-main-setting">
                <div class="profile-history">
                    <div class="profile-person-history">
                        <img href="/sites/e4d4/assets/img/dashboard-img.png" alt="">
                        <div class="px-3">
                            <h6>James Edward<span> ( Edit Portfolio )</span></h6>
                            <span>Enter Subheading</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap justify-content-center">

                        <button type="button" class="logout-btn"><i class="bi bi-bell"></i></button>
                        <button type="button" class="dash-btn"> <i class="bi bi-house text-white px-1"></i>
                            + Make New Search</button>
                    </div>
                </div>

                <div class="my-4 history-btn-design">
                    <button type="button" class="dash-btn">
                        Home</button>
                    <button type="button" class="dash-btn">
                        Show History</button>
                </div>

                <form class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Location history">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Industry Search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Position Search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Business Search (Option)">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                </form>



                <h5 class="fw-bold mt-5 mb-4">Select Customized Data Which You Want To Share</h5>
                <div class="data-choices-dm">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Your Name
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Your Email Address
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Your Phone Number
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Your Address
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Your Education Details
                        </label>
                    </div>
                </div>




                <h5 class="fw-bold mt-5 mb-4">Previous Company History <span class="text-grey">( Customized Selection
                        )</span></h5>
                <div class="data-choices-dm d-flex justify-content-between flex-wrap  w-80">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Company A Details
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Company B Details
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Company C Details
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Company D Details
                        </label>
                    </div>
                </div>



                <h5 class="fw-bold mt-5 mb-4">Select Documents</h5>
                <div class="data-choices-dm d-flex justify-content-between flex-wrap  w-80">
                    <div>
                        <div class="select-documents">
                            <i class="fa-regular fa-file"></i>
                        </div>
                        <div class="d-flex justify-content-center mt-2">Resume</div>
                    </div>

                    <div>
                        <div class="select-documents">
                            <i class="fa-regular fa-file"></i>
                        </div>
                        <div class="d-flex justify-content-center mt-2">Cover Letter</div>
                    </div>

                    <div>
                        <div class="select-documents">
                            <i class="fa-regular fa-file"></i>
                        </div>
                        <div class="d-flex justify-content-center mt-2">Law Degree</div>
                    </div>

                    <div>
                        <div class="select-documents">
                            <i class="fa-regular fa-file"></i>
                        </div>
                        <div class="d-flex justify-content-center mt-2">RSA Cert</div>
                    </div>

                </div>



                <h5 class="fw-bold mt-5 mb-4">Social Links</h5>
                <div class="data-choices-dm d-flex justify-content-between flex-wrap  w-80">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            LinkedIn
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Twitter
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Facebook
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Instagram
                        </label>
                    </div>
                </div>

                <div>
                    <button type="button" class="dash-btn mt-4">SEND</button>
                </div>
            </div>
        </div>
        <!-- SEND DETAILS SECTION ENDS HERE -->



        <!-- CONGRATS SECTION STARTS HERE -->
        <div class="container d-flex flex-column justify-content-center align-items-center my-5" data-aos="fade-up"
            data-aos-duration="3200" data-aos-easing="ease-in-sine">
            <div class="dashboard-main-setting">
                <div class="profile-history">
                    <div class="profile-person-history">
                        <img href="/sites/e4d4/assets/img/dashboard-img.png" alt="">
                        <div class="px-3">
                            <h6>James Edward<span> ( Edit Portfolio )</span></h6>
                            <span>Enter Subheading</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap justify-content-center">

                        <button type="button" class="logout-btn"><i class="bi bi-bell"></i></button>
                        <button type="button" class="dash-btn"> <i class="bi bi-house text-white px-1"></i>
                            + Make New Search</button>
                    </div>
                </div>

                <div class="my-4 history-btn-design">
                    <button type="button" class="dash-btn">
                        Home</button>
                    <button type="button" class="dash-btn">
                        Show History</button>
                </div>

                <form class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Location history">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Industry Search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Position Search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="history-input-design">
                            <input type="text" class="" placeholder="Business Search (Option)">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                </form>

                <div class="final-portion">
                    <img href="/sites/e4d4/assets/img/party.png" alt="">
                    <h3>Congratulations</h3>
                    <h5 class="">Your information has been sent successfully to the company.</h5>
                    <button type="button" class="dash-btn mt-4">Go Back To Dashboard</button>

                </div>
            </div>
        </div>
        <!-- CONGRATS SECTION ENDS HERE -->




    </section>
    <!-- DASHBOARD MAIN SECTION ENDS HERE -->


    <%- include('./partials/query') %>
    <%- include('./partials/footer') %>
    <%- include('./partials/scriptlinks') %>
  
  
  </body>
  
  </html>