<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest Project</title>
  <%- include('./partials/csslinks') %>
</head>

<body>
  <%- include('./partials/header') %>

  <section class="portfolio-section">
    <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3200" data-aos-easing="ease-in-sine">


      <!-- NO 1 portfolio WORKS STARTS HERE -->
      <div class="portfolio_width_setting portfolio-form">
        <div class="text-center">
          <h1 class="fw-bold">Portfolio Registration</h1>
        </div>
        <form class="row">
          <div class="col-md-6 portfolio-form-design">
            <label for="fname" class="form-label">Full Name*</label>
            <input type="text" name="fullName" class="form-control" id="fname" placeholder="Enter Full Name..." value="<%= user?.fullName %>" required>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="inputEmail4" class="form-label">Email Address*</label>
            <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Enter Email Address..." value="<%= user?.primaryEmail?.email %>" <%= user?.primaryEmail ? 'readonly' : '' %>" required>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="inputPassword4" class="form-label">Password*</label>
            <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Enter Password..." required>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="inputPassword4" class="form-label">Re-Enter Password*</label>
            <input type="password" name="confirmPassword" class="form-control" id="inputPassword4" placeholder="Re-Enter Password..." required>
          </div>
          <div class="col-md-6  portfolio-form-design">
            <label for="inputAddress" class="form-label">Suburb*</label>
            <input type="text" name="suburb" class="form-control" id="inputAddress" placeholder="Enter  Address..." required>
          </div>

          <div class="col-md-6  portfolio-form-design">
            <label for="ContactNumber" class="form-label">Contact Number*</label>
            <input type="number" name="phone" class="form-control" id="ContactNumber" placeholder="Enter Number..." required>
          </div>

          <div class="col-md-6 portfolio-form-design">
            <label for="EducationLevel" class="form-label">Education Level*</label>
            <select name="educationLevel" id="EducationLevel" class="form-select" required>
              <option selected>Select Education Level</option>
              <option value="Secondary Education (High School)">Secondary Education (High School)</option>
              <option value="Vocational Education and Training (VET)">Vocational Education and Training (VET)</option>
              <option value="Associate Degree">Associate Degree</option>
              <option value="Bachelor's Degree">Bachelor's Degree</option>
              <option value="Graduate Certificate">Graduate Certificate</option>
              <option value="Graduate Diploma">Graduate Diploma</option>
              <option value="Master's Degree">Master's Degree</option>
              <option value="Doctoral Degree (PhD)">Doctoral Degree (PhD)</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="col-md-6 portfolio-form-design">
            <label for="Skills" class="form-label">Skills*</label>
            <select name="skills" id="Skills" class="form-select" required>
              <option selected>Select Skills...</option>
              <option value="Project Management">Project Management</option>
              <option value="Communication">Communication</option>
              <option value="Team Leadership">Team Leadership</option>
              <option value="Critical Thinking">Critical Thinking</option>
              <option value="Problem Solving">Problem Solving</option>
              <option value="Time Management">Time Management</option>
              <option value="Customer Service">Customer Service</option>
              <option value="Negotiation">Negotiation</option>
              <option value="Sales">Sales</option>
              <option value="Marketing">Marketing</option>
              <option value="Data Analysis">Data Analysis</option>
              <option value="Software Development">Software Development</option>
              <option value="Web Development">Web Development</option>
              <option value="Database Management">Database Management</option>
              <option value="Cloud Computing">Cloud Computing</option>
              <option value="Machine Learning">Machine Learning</option>
              <option value="Artificial Intelligence">Artificial Intelligence</option>
              <option value="Cybersecurity">Cybersecurity</option>
              <option value="Networking">Networking</option>
              <option value="Graphic Design">Graphic Design</option>
              <option value="UI/UX Design">UI/UX Design</option>
              <option value="Content Creation">Content Creation</option>
              <option value="Copywriting">Copywriting</option>
              <option value="Search Engine Optimization (SEO)">Search Engine Optimization (SEO)</option>
              <option value="Social Media Management">Social Media Management</option>
              <option value="Accounting">Accounting</option>
              <option value="Financial Analysis">Financial Analysis</option>
              <option value="Human Resources">Human Resources</option>
              <option value="Legal Research">Legal Research</option>
              <option value="Public Speaking">Public Speaking</option>
              <option value="Training and Development">Training and Development</option>
              <option value="Technical Writing">Technical Writing</option>
              <option value="Research">Research</option>
              <option value="Quality Assurance">Quality Assurance</option>
              <option value="Supply Chain Management">Supply Chain Management</option>
              <option value="Event Planning">Event Planning</option>
              <option value="Health and Safety">Health and Safety</option>
              <option value="Foreign Languages">Foreign Languages</option>
              <option value="Customer Relationship Management (CRM)">Customer Relationship Management (CRM)</option>
              <option value="E-commerce">E-commerce</option>
              <option value="Business Strategy">Business Strategy</option>
              <option value="Agile Methodologies">Agile Methodologies</option>
              <option value="Scrum">Scrum</option>
              <option value="DevOps">DevOps</option>
              <option value="Digital Marketing">Digital Marketing</option>
              <option value="Product Management">Product Management</option>
              <option value="Business Analysis">Business Analysis</option>
              <option value="Electronics">Electronics</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Chemical Engineering">Chemical Engineering</option>
              <option value="Biomedical Engineering">Biomedical Engineering</option>
              <option value="Environmental Science">Environmental Science</option>
              <option value="Physics">Physics</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Biology">Biology</option>
              <option value="Mathematics">Mathematics</option>
              <option value="Statistics">Statistics</option>
              <option value="GIS (Geographic Information Systems)">GIS (Geographic Information Systems)</option>
              <option value="AutoCAD">AutoCAD</option>
              <option value="SolidWorks">SolidWorks</option>
              <option value="Public Relations">Public Relations</option>
              <option value="Fundraising">Fundraising</option>
              <option value="Nonprofit Management">Nonprofit Management</option>
              <option value="Grant Writing">Grant Writing</option>
            </select>
          </div>
          <div class="col-12 portfolio-form-design">
            <label for="Interests" class="form-label">Industry Of Interests*</label>
            <select name="industryInterest" id="Interests" class="form-select" required>
              <option selected>Select Industry</option>
              <option value="Information Technology">Information Technology</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Education">Education</option>
              <option value="Finance">Finance</option>
              <option value="Manufacturing">Manufacturing</option>
              <option value="Retail">Retail</option>
              <option value="Hospitality">Hospitality</option>
              <option value="Construction">Construction</option>
              <option value="Transportation">Transportation</option>
              <option value="Real Estate">Real Estate</option>
              <option value="Energy">Energy</option>
              <option value="Telecommunications">Telecommunications</option>
              <option value="Media and Entertainment">Media and Entertainment</option>
              <option value="Consulting">Consulting</option>
              <option value="Nonprofit">Nonprofit</option>
              <option value="Government">Government</option>
              <option value="Agriculture">Agriculture</option>
              <option value="Automotive">Automotive</option>
              <option value="Aerospace">Aerospace</option>
              <option value="Biotechnology">Biotechnology</option>
              <option value="Chemical">Chemical</option>
              <option value="Consumer Goods">Consumer Goods</option>
              <option value="E-commerce">E-commerce</option>
              <option value="Environmental Services">Environmental Services</option>
              <option value="Insurance">Insurance</option>
              <option value="Legal">Legal</option>
              <option value="Logistics">Logistics</option>
              <option value="Pharmaceutical">Pharmaceutical</option>
              <option value="Public Relations">Public Relations</option>
              <option value="Research and Development">Research and Development</option>
              <option value="Sports and Recreation">Sports and Recreation</option>
              <option value="Travel and Tourism">Travel and Tourism</option>
              <option value="Human Resources">Human Resources</option>
              <option value="Food and Beverage">Food and Beverage</option>
              <option value="Marketing and Advertising">Marketing and Advertising</option>
              <option value="Mining and Metals">Mining and Metals</option>
              <option value="Security">Security</option>
              <option value="Waste Management">Waste Management</option>
              <option value="Textiles">Textiles</option>
              <option value="Arts and Culture">Arts and Culture</option>
              <option value="Event Management">Event Management</option>
              <option value="Fashion">Fashion</option>
              <option value="Engineering Services">Engineering Services</option>
              <option value="Television and Broadcasting">Television and Broadcasting</option>
              <option value="Publishing">Publishing</option>
              <option value="Virtual Reality and Augmented Reality">Virtual Reality and Augmented Reality</option>
              <option value="Gaming">Gaming</option>
              <option value="Renewable Energy">Renewable Energy</option>
              <option value="Utilities">Utilities</option>
            </select>
          </div>

          <div class="col-12">
            <div class="form-check portfolio-form-design d-flex justify-content-center">
              <input name="termsCondition" value="true" class="form-check-input mx-3 mb-5" type="checkbox" id="gridCheck" required>
              <label class="form-check-label" for="gridCheck">
                I have read, understood and accept the Terms & Conditions </label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="submit-btn-portfolio btn-portfolio" data-next-class="weekavail_width_setting">CREATE ACCOUNT</button>

          </div>
        </form>
      </div>
      <!-- portfolio WORKS ENDS HERE -->


      <!--  NO 2 WEEK AVAILABLES WORKS STARTS HERE -->
      <div class="weekavail_width_setting portfolio-form display-none">
        <div class="text-center">
          <h1>In How Many Weeks Will You Be Available?</h1>
        </div>

        <form class="row form-design">

          <div class="weekavail-width-inner mt-5">
            <div class="col-12">
              <input type="radio" name="weeksOfAvailablity" class="btn-check" id="week-one" autocomplete="off" required>
              <label class="weekavail-form-design" for="week-one">1 WEEK</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="weeksOfAvailablity" class="btn-check" id="week-two" autocomplete="off" required>
              <label class="weekavail-form-design" for="week-two">2 WEEKS</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="weeksOfAvailablity" class="btn-check" id="week-three" autocomplete="off" required>
              <label class="weekavail-form-design" for="week-three">3 WEEKS</label>

            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="weeksOfAvailablity" class="btn-check" id="week-four" autocomplete="off" required>
              <label class="weekavail-form-design" for="week-four">4 WEEKS</label>

            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="weeksOfAvailablity" class="btn-check" id="week-other" autocomplete="off" required>
              <label class="weekavail-form-design" for="week-other">Others</label>
            </div>

          </div>

          <button type="submit" class="next-btn py-3 btn-portfolio" data-next-class="preferwork-section">NEXT</button>

        </form>

      </div>
      <!-- WEEK AVAILABLES WORKS ENDS HERE -->


      <!--  NO 3 PREFERRED WORKS STARTS HERE -->
      <div class="weekavail_width_setting preferwork-section portfolio-form display-none">
        <div class="text-center">
          <h1>Preferred Work Type?</h1>
        </div>

        <form class="row form-design">

          <div class="weekavail-width-inner mt-5">
            <div class="col-12">
              <input type="radio" name="workType" class="btn-check" id="partTime" autocomplete="off" required>
              <label class="weekavail-form-design" for="partTime">Part Time</label>

            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="workType" class="btn-check" id="fullTime" autocomplete="off" required>
              <label class="weekavail-form-design" for="fullTime">Full Time</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="workType" class="btn-check" id="contract" autocomplete="off" required>
              <label class="weekavail-form-design" for="contract">Contract</label>
            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="workType" class="btn-check" id="casual" autocomplete="off" required>
              <label class="weekavail-form-design" for="casual">Casual</label>

            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="workType" class="btn-check" id="hybrid" autocomplete="off" required>
              <label class="weekavail-form-design" for="hybrid">Hybrid (Remote and Office)</label>

            </div>

          </div>
          <div class="weekavail-width-inner">
            <div class="col-12">
              <input type="radio" name="workType" class="btn-check" id="remote" autocomplete="off" required>
              <label class="weekavail-form-design" for="remote">Remote</label>
            </div>

          </div>


          <button type="submit" class="next-btn py-3 btn-portfolio" data-next-class="classification-section">NEXT</button>

        </form>

      </div>
      <!-- PREFERRED WORKS ENDS HERE -->



      <!--  NO 4 CLASSIFICATIONS WORKS STARTS HERE -->
      <div class="weekavail_width_setting classification-section portfolio-form display-none">
        <div class="text-center">
          <h1>Work Classification</h1>
        </div>
        <form class="row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">

              <select name="workClassification" id="Classification" class="form-select" required>
                <option selected>Any Classification </option>
                <option value="Managers">Managers</option>
                <option value="Professionals">Professionals</option>
                <option value="Technicians and Trades Workers">Technicians and Trades Workers</option>
                <option value="Community and Personal Service Workers">Community and Personal Service Workers</option>
                <option value="Clerical and Administrative Workers">Clerical and Administrative Workers</option>
                <option value="Sales Workers">Sales Workers</option>
                <option value="Machinery Operators and Drivers">Machinery Operators and Drivers</option>
                <option value="Labourers">Labourers</option>
                <option value="Agriculture, Forestry and Fishing Workers">Agriculture, Forestry and Fishing Workers</option>
                <option value="Mining Workers">Mining Workers</option>
                <option value="Construction Workers">Construction Workers</option>
                <option value="Manufacturing Workers">Manufacturing Workers</option>
                <option value="Electricity, Gas, Water and Waste Services Workers">Electricity, Gas, Water and Waste Services Workers</option>
                <option value="Transport, Postal and Warehousing Workers">Transport, Postal and Warehousing Workers</option>
                <option value="Information Media and Telecommunications Workers">Information Media and Telecommunications Workers</option>
                <option value="Financial and Insurance Services Workers">Financial and Insurance Services Workers</option>
                <option value="Rental, Hiring, and Real Estate Services Workers">Rental, Hiring, and Real Estate Services Workers</option>
                <option value="Professional, Scientific and Technical Services Workers">Professional, Scientific and Technical Services Workers</option>
                <option value="Administrative and Support Services Workers">Administrative and Support Services Workers</option>
                <option value="Public Administration and Safety Workers">Public Administration and Safety Workers</option>
                <option value="Education and Training Workers">Education and Training Workers</option>
                <option value="Health Care and Social Assistance Workers">Health Care and Social Assistance Workers</option>
                <option value="Arts and Recreation Services Workers">Arts and Recreation Services Workers</option>
                <option value="Accommodation and Food Services Workers">Accommodation and Food Services Workers</option>
                <option value="Retail Trade Workers">Retail Trade Workers</option>
                <option value="Wholesale Trade Workers">Wholesale Trade Workers</option>
              </select>
            </div>
          </div>
          <button type="submit" class="next-btn py-3 btn-portfolio" data-next-class="preferloc-section">NEXT</button>
        </form>
        <!-- CLASSIFICATIONS WORKS ENDS HERE -->


      </div>
      <!-- CLASSIFICATIONS WORKS ENDS HERE -->



      <!--  NO 5 PREFER LOCATION WORKS STARTS HERE -->
      <div class="weekavail_width_setting preferloc-section portfolio-form display-none">
        <div class="text-center">
          <h1>Preferred Location To Work</h1>
        </div>

        <form class="row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">

              <select name="preferredJobLocation" id="Classification" class="form-select" required>
                <option selected>Select Preferred Location To Work</option>
                <option value="Sydney, New South Wales">Sydney, New South Wales</option>
                <option value="Melbourne, Victoria">Melbourne, Victoria</option>
                <option value="Brisbane, Queensland">Brisbane, Queensland</option>
                <option value="Perth, Western Australia">Perth, Western Australia</option>
                <option value="Adelaide, South Australia">Adelaide, South Australia</option>
                <option value="Canberra, Australian Capital Territory">Canberra, Australian Capital Territory</option>
                <option value="Hobart, Tasmania">Hobart, Tasmania</option>
                <option value="Darwin, Northern Territory">Darwin, Northern Territory</option>
                <option value="Gold Coast, Queensland">Gold Coast, Queensland</option>
                <option value="Newcastle, New South Wales">Newcastle, New South Wales</option>
                <option value="Wollongong, New South Wales">Wollongong, New South Wales</option>
                <option value="Geelong, Victoria">Geelong, Victoria</option>
                <option value="Sunshine Coast, Queensland">Sunshine Coast, Queensland</option>
                <option value="Cairns, Queensland">Cairns, Queensland</option>
                <option value="Toowoomba, Queensland">Toowoomba, Queensland</option>
                <option value="Ballarat, Victoria">Ballarat, Victoria</option>
                <option value="Bendigo, Victoria">Bendigo, Victoria</option>
                <option value="Mackay, Queensland">Mackay, Queensland</option>
                <option value="Launceston, Tasmania">Launceston, Tasmania</option>
                <option value="Townsville, Queensland">Townsville, Queensland</option>
                <option value="Rockhampton, Queensland">Rockhampton, Queensland</option>
                <option value="Albury-Wodonga, New South Wales/Victoria">Albury-Wodonga, New South Wales/Victoria</option>
                <option value="Bundaberg, Queensland">Bundaberg, Queensland</option>
                <option value="Burnie, Tasmania">Burnie, Tasmania</option>
                <option value="Alice Springs, Northern Territory">Alice Springs, Northern Territory</option>
                <option value="Armidale, New South Wales">Armidale, New South Wales</option>
                <option value="Tamworth, New South Wales">Tamworth, New South Wales</option>
                <option value="Port Macquarie, New South Wales">Port Macquarie, New South Wales</option>
                <option value="Coffs Harbour, New South Wales">Coffs Harbour, New South Wales</option>
                <option value="Orange, New South Wales">Orange, New South Wales</option>
                <option value="Dubbo, New South Wales">Dubbo, New South Wales</option>
                <option value="Shepparton, Victoria">Shepparton, Victoria</option>
                <option value="Mildura, Victoria">Mildura, Victoria</option>
                <option value="Wagga Wagga, New South Wales">Wagga Wagga, New South Wales</option>
                <option value="Bathurst, New South Wales">Bathurst, New South Wales</option>
                <option value="Broken Hill, New South Wales">Broken Hill, New South Wales</option>
                <option value="Kalgoorlie, Western Australia">Kalgoorlie, Western Australia</option>
                <option value="Broome, Western Australia">Broome, Western Australia</option>
              </select>
            </div>
          </div>
          <button type="submit" class="next-btn py-3 btn-portfolio" data-next-class="positionint-section">NEXT</button>
        </form>

      </div>
      <!-- PREFER LOCATION  ENDS HERE -->




      <!--  NO 6 Position Type Interested  STARTS HERE -->
      <div class="weekavail_width_setting positionint-section portfolio-form display-none">
        <div class="text-center">
          <h1>Position Type Interested</h1>
        </div>
        <form class="row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">

              <select name="positionTypeInterest" id="Classification" class="form-select" required>
                <option selected>Select Position Type</option>
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Casual">Casual</option>
                <option value="Contract">Contract</option>
                <option value="Temporary">Temporary</option>
                <option value="Internship">Internship</option>
                <option value="Apprenticeship">Apprenticeship</option>
                <option value="Graduate">Graduate</option>
                <option value="Volunteer">Volunteer</option>
                <option value="Freelance">Freelance</option>
                <option value="Seasonal">Seasonal</option>
                <option value="Remote">Remote</option>
                <option value="Permanent">Permanent</option>
                <option value="Fixed-term">Fixed-term</option>
                <option value="Job Share">Job Share</option>
              </select>
            </div>
          </div>
          <button type="submit" class="next-btn py-3 btn-portfolio" data-next-class="salaryexcept-section">NEXT</button>
        </form>


      </div>
      <!-- Position Type Interested  ENDS HERE -->




      <!--  NO 7 Salary Expectation WORKS STARTS HERE -->
      <div class="weekavail_width_setting salaryexcept-section portfolio-form display-none">
        <div class="text-center">
          <h1>Salary Expectation</h1>
        </div>
        <form class="row form-design">
          <div class="weekavail-width-inner mt-5">
            <div class="col-12 portfolio-form-design">

              <input name="salaryExpectation" type="number" class="form-control" id="salary" placeholder="Enter Salary Range  ( For e.g $20,000 - $30,000 )" required>
            </div>
          </div>
          <button type="submit" class="next-btn py-3 btn-portfolio" data-next-class="regcomplete-section">NEXT</button>
        </form>


      </div>
      <!--Salary Expectation WORKS ENDS HERE -->




      <!-- NO 8 REGISTRATION COMPLETED WORKS STARTS HERE -->
      <div class="weekavail_width_setting regcomplete-section portfolio-form display-none">
        <div class="text-center reg-icon">
          <i class="bi bi-patch-check"></i>
          <h1 class="mx-3 mb-5">Registration Completed</h1>
          <h6 class="fw-bold mb-3 ">Check Your Email / Phone For Verification</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>

        <button type="button" class="next-btn py-3" onclick="location.href= 'dashboard'">CONTINUE</button>
      </div>
      <!--REGISTRATION COMPLETED WORKS ENDS HERE -->

      <!-- NO 8 REGISTRATION COMPLETED WORKS STARTS HERE -->
      <div class="weekavail_width_setting error-sec portfolio-form display-none">
        <div class="text-center reg-icon">
          <i style="color: red" class="bi bi-patch-exclamation"></i>
          <h1 class="mx-3 mb-5">Registration Failed</h1>
          <h6 class="fw-bold mb-3" id="error-message">Check Your Email / Phone For Verification</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>

        <button type="button" class="next-btn go-back py-3">Go Back</button>
      </div>
      <!--REGISTRATION COMPLETED WORKS ENDS HERE -->



    </div>
  </section>


  <%- include('./partials/query') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptlinks') %>
  <script>
    // const nextBtn = document.querySelectorAll(".btn-portfolio")
    // const forms = document.querySelectorAll(".portfolio-form")
    // nextBtn.forEach((btn) => {
    //     btn.addEventListener("click", function (e) {
    //         let validate = false
    //         const curBtn = e.target
    //         debugger
    //         forms.forEach((form) => {
    //             form.classList.add("display-none")
    //         })
    //         document.querySelector(`.${e.target.getAttribute("data-next-class")}`).classList.remove("display-none")
    //     })
    // })

    const forms = document.querySelectorAll(".portfolio-form")
    const formDataObj = {};
    Array.from(forms).forEach((form) => {
      form.addEventListener('submit', async (e) => {
        let success = true
        e.preventDefault()
        const curForm = e.target
        const btn = curForm.querySelector('.btn-portfolio')
        const nextFormClass = btn.getAttribute("data-next-class")
        const formData = new FormData(curForm);

        formData.forEach((value, key) => {
          formDataObj[key] = value;
        });
        if (nextFormClass == 'regcomplete-section') {
          const res = await fetch('/sites/e4d4/api/auth/email', {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(formDataObj),
            credentials: 'include'
          })
          const resJson = await res.json()
          debugger
          if (res.status !== 200) {
            $("#error-message").html(resJson.error)
            success = false
          } else {
            createCookie('authtoken', resJson.authtoken)
            createCookie('e4d4user', 'true')
          }
          console.log('resJson', resJson)
        }
        if (formDataObj.password === formDataObj.confirmPassword) {
          forms.forEach((form) => {
            form.classList.add("display-none")
          })
          if (success) {
            document.querySelector(`.${nextFormClass}`).classList.remove("display-none")
          } else {
            document.querySelector(`.error-sec`).classList.remove("display-none")
          }
        } else {
          createToast(`Password & Confirm Password Should be same!`, 'text-bg-danger')
        }
      })
    })
    $('.go-back').click(function() {
      forms.forEach((form) => {
        form.classList.add("display-none")
        document.querySelector(`.portfolio-form`).classList.remove("display-none")
      })
    })
  </script>





</body>

</html>