<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Project</title>
    <%- include('./partials/csslinks') %>
</head>

<body>
    <%- include('./partials/header') %>

        <section class="portfolio-section">
            <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
                data-aos-duration="3200" data-aos-easing="ease-in-sine">

                <div class="row justify-content-center w-100">
                    <div class="col-lg-8 col-12">

                        <!-- NO 1 portfolio WORKS STARTS HERE -->
                        <div class="portfolio_width_setting portfolio-form w-100">
                            <div class="text-center">
                                <h1 class="fw-bold">Update Password</h1>
                            </div>
                            <form method="POST" id="reset-password-form" action="/api/auth/password/update-password" class="row g-4">
                                <div class="col-12 portfolio-form-design">
                                    <label for="password" class="form-label">Enter Password*</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                        placeholder="Enter Password..." required>
                                </div>
                                <div class="col-12 portfolio-form-design">
                                    <label for="confirm-password" class="form-label">Confirm Password*</label>
                                    <input type="password" name="confirmresetpassword" id="confirmPassword" class="form-control"
                                        placeholder="Confirm Password..." required>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="submit-btn-portfolio btn-business-reg"
                                        data-next-class="companyoperate-section">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./partials/query') %>
            <%- include('./partials/footer') %>
                <%- include('./partials/scriptlinks') %>
<script>
    $("#reset-password-form").submit(function(e){
       const password = $("#password").val()
       const confirmPassword = $("#confirmPassword").val()
       if(password !== confirmPassword){
        e.preventDefault()
        createToast('Password and Confirm Password Should be Same!','error')
       }
    })
</script>
</body>

</html>